
a{
  text-decoration: none;
  color: #000;
  
}
html{
  scroll-behavior: smooth;
}

/* -----------HEADER-NAV BAR-------------------------- */


.banner {
	height: 100vh;
}

/* the background of the nav bar*/
.main-menu{
	position: fixed;
	top:0;
	z-index: 100;
	width: 100%;
  padding: 5px;
  background: #b1b1b19f;/*this make the nav bar transpatrnt */

}

.navbar-logo{
	font-size: 30px;
	font-weight: bold;
	color: #fff !important;
  font-size: 35px;
  margin-left: -60px;
  display: flex;
  justify-content: space-between;
}

.nav-item a{
  margin-right: -20px;
	display: block;
	font-size: 20px;
	font-weight: bold;
	padding: 0px 25px !important;
	color: #fff !important;
}

.nav-item a:hover{
	color: #000 !important;
}

@media (min-width: 0px) and (max-width: 768px) {
  .carousel-caption{
    bottom: 30%;
    display: block !important;
  }
  
}


/*FIRST PAGE HTML CODE */

.worker-first{
    width: 100%;
    height: 100%;
    background-color: red;
    background:url(photos/wbg.jpg);
    background-size: cover;
   
}
 .worker-img{
    margin-left: 10%;
    width: 30%; 
    height: 80vh;
    background-color:transparent;
    background-size: cover;
    animation: worker 40s infinite;
}

 /* IMMAGE ANIMATION CODE  */
@keyframes worker {
    
    0% {
       background-image:url(photos/worker2.png);
       transition:ease-in-out;
       
    }
    5% {
        background-image:url(photos/worker2.png);
        transition:ease-in-out; 
     }
     10% {
        background-image:url(photos/worker2.png);
        transition:ease-in-out;     
     }
     15% {
        background-image:url(photos/worker2.png);
        transition:ease-in-out;       
     }
     20% {
        background-image:url(photos/worker2.png);
       transition:ease-in-out;     
     }

     25% {
        background-image:url(photos/worker3.png);
       transition:ease-in-out;     
     }
     30% {
        background-image:url(photos/worker3.png);
       transition:ease-in-out;     
     }
     35% {
        background-image:url(photos/worker3.png);
       transition:ease-in-out;     
     }
     40% {
        background-image:url(photos/worker3.png);
       transition:ease-in-out;     
     }
     45% {
        background-image:url(photos/worker3.png);
       transition:ease-in-out;     
     }


    50% {    
        background-image:url(photos/worker4.png);
     }

    55% {
        background-image:url(photos/worker4.png);
        transition:ease-in-out;     
     }
     60% {
        background-image:url(photos/worker4.png);
        transition:ease-in-out;    
     }
     65% {
        background-image:url(photos/worker4.png);
        transition:ease-in-out;   
     }
     70% {
        background-image:url(photos/worker4.png);
        transition:ease-in-out;    
     }


     75% {
        background-image:url(photos/worker5.png);
        transition:ease-in-out;    
     }
     80% {
        background-image:url(photos/worker5.png);
        transition:ease-in-out;    
     }
     85% {
        background-image:url(photos/worker5.png);
        transition:ease-in-out;    
     }
     90% {
        background-image:url(photos/worker5.png);
        transition:ease-in-out;    
     }
     100% {
        background-image:url(photos/worker1.png);
    }
}

/* TEXT AREA CODE */
.worker-1st-text{
    font-size: 25px;
    margin-left: 45%;
    margin-top:-32%;
    font-family:Garamond ;
}

.worker-1st-text h3
{
    font-size: 25px;
    margin-left: 20%;
}

.worker-1st-text h2{
      margin-top: 20px;
      font-size:  28px;
      margin-left: 10%;    
}

.worker-1st-text h4{
      font-size: 27px;
      margin-top: 30px;
      margin-left: 2%;
}


.worker-1st-text span::before{
  content: " ";   /* IMORTANT TO ADD TEXT IN SCREEN */
  font-size: 30px;
  animation: animate 20s infinite;
  color: black;
  text-align: center;
  font-family: Copperplate, Papyrus, fantasy;  
  }
  
/* ANIMATION OF THALOKES IN FIRST PAGE */   
  @keyframes animate {
  
  0% {
      content: "  'TUMKUR' ";
     
   
  }
  25%{
      content: "  ' KUNIGAL' ";
    
  }
  
  50% {
      content: "  'KORATAGERE'  ";
  
  
  }
  
  75% {
      content: " ' GUBBI ' ";
    
  }
  100%{
    content: " ' MADHUGIRI'";
  }
}

    /* 1ST PAGE BUTTON AREA*/
    .worker-1st-button{        
        margin-left: 54%;
        padding-top: 100px;
        margin-top: 60px;

    }
    
    .worker-1st-button button{
      color: white;
      font-size: 30px;
      height: 55px;
      width: 40%;
      font-family: Cursive;
      background: linear-gradient(-45deg,#ee7752,  deeppink ,deeppink ); 
      border: 0px solid black;
    } 
    
    .worker-1st-button button:hover{
      box-shadow: 6px 6px 10px 6px black;
    
    }
    
    .worker-1st-button button i{
      color: white;
      animation: anim2 2s infinite;
    }
    
    @keyframes anim2{
    
    
      0%{
        padding-top: -20px;
      }
      50%{
        padding-top: 20px;
    
        }
      100%{
        padding-top: -20px;
    
        }
    }
    
    .worker-1st-button h2{
      font-size: 25px;
      text-align: center;
      margin-left: -60%;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      }






/*    SECOND PAGE CODE */
.worker-second{
    height: 100vh;
    width: 100%;
}
.worker-second a{
  color: #888888;
  text-decoration: none;

}

.worker-second a:hover{
  color: #000;
  text-decoration: none;

}

/*  worker card */

.worker-cards ,.worker-cards2{
    display: flex;
    justify-content: space-around;
}
.card-work ,.card-work2{
    height: 250px;
    width: 23%;
    background-color: white;
    border: 2px solid black;
}
.card-work2:hover{
    box-shadow: 8px 8px 8px 8px #888888; 
}
.card-work:hover{
    box-shadow: 8px 8px 8px 8px #888888; 
    font-size: 50px;
}


.card-work2, .card-work img{
    
 padding-left: 50px;

}
.worker-second h2{
  color:#888888;
  padding-top: 30px;
}
.card-work2 h3{
  
  
  margin-top: -80%;
  padding-right: 10px;
  text-align: right;
}

.card-work h3{
  margin-top: -70%;
  padding-right: 10px;
  text-align: right;
}









/*    3RD PAGE CODE  */

.third-page{
    width: 100%;
    /* height: 800%; */
    font-size: 2px;
}


/* CARD AREA CODE  */
/* THIS CODE IS APPPLICABLE FOR ALLTHE CARDS OF DIFFRENT PAGES */

.card-area{
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
}


.w-card{
width: 40%;
height: 250px;
background-color: transparent;
margin-top: 20px;
margin-left: 10px;
border: 2px solid black;
box-shadow: 8px 8px 8px 8px #888888; 
}
.w-card:hover{
  box-shadow: 10px 10px 10px 10px #888888; 


}

/* LEFT SIDE IAMGE OF WORKER */
.w-img img{
  width: 150px;
  height:150px;
  margin-top: 40px;
  margin-left: 30px;
  border-radius: 50%;

}


.w-img h3{
  padding-left: 30px;
  font-size: 25;
  padding-top: 5px;
}


/* information part */
.w-info{
  margin-top: -205px;
  margin-left: 40%;
  font-size: 10px;
}

.w-info h3{
  font-size: 20px;
}
.w-info h2{
  font-size: 25px;
}

.w-img hr{
  width: 1px;
  height: 80%;
  margin-top: -220px;
  margin-left: 37%;
}

/* contact logo imag */
.w-fotter{
  display: flex;
  margin-left: 50%;

}
.w-fotter img{
  width: 60px;
  height: 60px;
}
.w-fotter img:hover{
  width: 63px;
  height: 63px;
  

}

.w-fotter-star{
  width: 170px;
  white-space: -150px;
  margin-top: -40%;
  justify-content: space-between;
}
.w-fotter-star img{
  width: 30px;
  height: 30px;
}
/* EBD OF ALL PAGE APPLICABLE CODE  */





/* THE DIFFRENT PAGE -MAIN PAGE CODE  */

/* TEACHER AREA  */
.teach-main {
  height: 100vh;
  width: 100%;
}

.teach-main h6{
  font-size: 30px;
  text-align: center;
}


/* HOUSE MADE AREA  */
.house-main {
  height: 100vh;
  width: 100%;
}
.house-main h6{
  font-size: 30px;
  text-align: center;
}



/*  GARDNER AREA   */

.garden-main {
  height: 100vh;
  width: 100%;
}
.garden-main h6{
  font-size: 30px;
  text-align: center;
}


/* NURCE AREA  */

.nurce-main {
  height: 100vh;
  width: 100%;
}
.nurce-main h6{
  font-size: 30px;
  text-align: center;
}



/* CHILD CARE TACKER */
.care-main {
  height: 100vh;
  width: 100%;
}

.care-main h6{
  font-size: 30px;
  text-align: center;
}



/* ELECTICITION AREA  */

.electric-main {
  height: 100vh;
  width: 100%;
  
}
.electric-main h6{
  font-size: 30px;
  text-align: center;
}


/* PLUMBER  */

.plumber-main {
  height: 100vh;
  width: 100%;
}
.plumber-main h6{
  font-size: 30px;
  text-align: center;
}

/* CIVIL WORKER  */
.civil-main {
  height: 100vh;
  width: 100%;
}
.civil-main h6{
  font-size: 30px;
  text-align: center;
}


/* FOOTEERRERE */





.new_footer_area {
  background: #fbfbfd;
  
}


.new_footer_top {
  padding: 100px 0px 270px;
  position: relative;
  overflow-x: hidden;
}


/*  FOTTER BOTTOM AREA */

.new_footer_area .footer_bottom {
  padding-top: 5px;
  padding-bottom: 50px;
}

/* fotter last line copy right  */
.footer_bottom {
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  color: #7f88a6;
  color: red;
  padding: 27px 0px;
}
/* touh with us code  */

.new_footer_top .company_widget p {
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  color: #6a7695;
  
  margin-bottom: 20px;
}

.new_footer_top .company_widget .f_subscribe_two .btn_get {
  border-width: 1px;
  margin-top: 20px;
}
.btn_get_two {
  background: #5e2ced;
  color: white;
}

.btn_get_two:hover {
  background: transparent;
  color: #5e2ced;
}
.btn_get:hover {
  color: #fff;
  background: #6754e2;
  border-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* end ----------- */


a:hover, a:focus, .btn:hover, .btn:focus, button:hover, button:focus {
  text-decoration: none;
  outline: none;
}


/* content of heading code */
.new_footer_top .f_widget.about-widget .f_list li a:hover {
  color: #5e2ced;
  text-decoration: none;
}
.new_footer_top .f_widget.about-widget .f_list li {
  margin-bottom: 11px;
}
.f_widget.about-widget .f_list li:last-child {
  margin-bottom: 0px;
}
.f_widget.about-widget .f_list li {
  margin-bottom: 15px;

  font-size: 20px;

}
.f_widget.about-widget .f_list {
  margin-bottom: 0px;

}


/* SOCIAL MEDIA ICONS */
.new_footer_top .f_social_icon a {
  width: 44px;
  height: 44px;
  line-height: 43px;
  background: transparent;
  border: 1px solid #e2e2eb;
  font-size: 24px;
}
.f_social_icon a {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  font-size: 14px;
  line-height: 45px;
  color: #858da8;
  display: inline-block;
  background: #ebeef5;
  text-align: center;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

/* .ti-facebook:before {
  content: "\e741";
}
.ti-twitter-alt:before {
  content: "\e74b";
}
.ti-vimeo-alt:before {
  content: "\e74a";
}
.ti-pinterest:before {
  content: "\e731";
} */


.new_footer_top .f_social_icon a:hover {
  background: #5e2ced;
  border-color: #5e2ced;
  color:white;
  text-decoration: none;
}
.new_footer_top .f_social_icon a + a {
  margin-left: 4px;
}


/* heading code S */
.new_footer_top .f-title {
  margin-bottom: 20px;
  color: #263b5e;
  
}
/* font weight of heading */
.f_600 {
  font-weight: 600;
}

.f_size_18 {
  font-size: 18px;
}

/* h1, h2, h3, h4, h5, h6 {
  color: #4b505e;
} */

.new_footer_top .f_widget.about-widget .f_list li a {
  color: #6a7695;
}
/* END OF UPPED INFORMATION AREA  */

/* BOTTOM IMAGE AREA */

/* backgroun iamge of nature */
.new_footer_top .footer_bg {
  position: absolute;
  bottom: 0;
  background:url(photos/footer_bg.png) no-repeat scroll center 0;
  width: 100%;
  height: 266px;
}

/* car image area */
.new_footer_top .footer_bg .footer_bg_one {
  background:url(photos/wfoot3.gif) no-repeat center center;
  width: 330px;
  height: 125px;
  background-size:60%;
  
  position: absolute;
  bottom: 0;
  left: 30%;
  -webkit-animation: myfirst 22s linear infinite;

  animation: myfirst 22s linear infinite;
}

.new_footer_top .footer_bg .footer_bg_two {
  background:url(photos/wfoot-walk.gif) no-repeat center center;
  width: 98px;
  height: 100px;
  background-size:190%;
  bottom: 0;
  left: 38%;
  position: absolute;
  -webkit-animation: myfirst 30s linear infinite;
  animation: myfirst 30s linear infinite;
}

.footer_bg img{
  margin-top: 10%;
  margin-left: 30%;
}
/* ANIMATION OF THE CAR AND CYCLE  */

@keyframes myfirst {
0% {
  left: -25%;
}
100% {
  left: 100%;
}
} 


/*************footer End*****************/
